@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gradient-to-right {
    @apply bg-gradient-to-r from-primary-300 to-primary-400;
  }

  .gradient-to-bottom {
    @apply bg-gradient-to-b from-primary-300 to-primary-400;
  }
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;

  .app {
    .app-content {
      @apply max-w-screen-xl;
      min-height: calc(100vh - 128px);
      margin: 0 auto;
      padding-top: 64px;
    }
  }


}

.my-icon {
  @apply w-8 h-8;
  font-size: 32px;

  &.large {
    @apply w-12 h-12;
    font-size: 48px;
  }

  &.x-large {
    @apply w-14 h-14;
    font-size: 56px;
  }

  &.left {
    @apply mr-1
  }
}